/* Admin Dashboard */

html {
    font-family: 'Montserrat', sans-serif;
    background-color: #52a7c1;
    background-image: linear-gradient(315deg, #52a7c1 0%, #b3f6d8 74%);

}

/* body {
    background-color: rgba(255, 255, 255, 0.438);
    border: 1px solid rgba(255, 255, 255, 0.418);
    border-radius: 20px;
    font-family: 'Montserrat', sans-serif;
} */

.container-div {
    height: 98vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between
}


.projects-div {
    display: flex;
    flex-direction: column;
}

.project-1, .project-2, .project-3 {
    margin-top: 10px;
    padding: 10px;
    border-radius: 50px;
    width: 80vw;
    align-self: center;
    display: flex;
    justify-content: space-between;
}

.project-1 {
    background-color: rgba(255, 255, 255, 0.322);
}

.project-2, .project-3 {
    background-color: rgb(255, 255, 255);
}

.svg-title {
    display: flex;
    justify-content: space-around;
}

.svg-title p {
    color: rgb(65, 65, 65);
}

.svg-title p, .count p {
    font-size: 14px;
    font-weight: 600;
    padding-right: 20px;
}

.svg-mob img{
    height: 24px;
    padding: 12px;
}


.border-under {
    height: 1px;
    border-bottom: 20px solid rgba(255, 255, 255, 0.459);
    width: 75vw;
    border-radius: 50px;
    margin-top: -12px;
    align-self: center;
}

.collapse-button{
    display: flex;
    align-self: center;
    margin-top: 30px;
    margin-bottom: 10px;
    height: 10px;
    width: 50px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.459);
}



h1, h2 {
    color: rgb(43, 42, 42);
    padding: 20px;
}

h2 {
    padding-bottom: 0px;
    margin-bottom: 0px;
    padding-top: 0px;
}

h1 {
    padding-bottom: 0px;
}



.other-menus-div {
    display: flex;
    
    margin-top: -40px;
}

.other-menus p {
    font-weight: 600;
    font-size: 15px;
    color: rgba(0, 0, 0, 0.493);
    padding-left: 20px;
}


.stats-div {
    
    background-color: rgb(255, 255, 255);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    height: 60vh;
    margin-bottom: -15px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.stats {
    display: flex;
    justify-content: center;
}

.stats img {
  width: 80vw;
}


.icons-div {
    display: flex;
    justify-content: space-around;
    height: 90px;
    background-color: #dffff8;
    border-radius: 20px;
}
.icons-div div {
    align-self: center;
}

.icons-div div img {
    align-self: center;
    width: 30px;
}

.desktop {
    display: none;;
}

@media (max-width:380px) {
    .stats img {
        width: 70vw;
    }

    .stats {
        margin-top: -40px;
    }

    h1, h2{
        margin-top: 0px;
        margin-bottom: 10px;
    }

    .project-1, .project-2, .project-3 {
        padding: 5px;
    }
}



@media (min-width:1000px) {

    html {
         font-family: 'Montserrat', sans-serif;
        background-color: #52a7c1;
        background-image: linear-gradient(315deg, #52a7c1 0%, #b3f6d8 74%);
        height: 100vh;
        padding: 50px;
    }

    body {
        height: 95vh;

        background-color: #ebf8fc9a;
        border-radius: 40px;
        border: 1px solid rgba(255, 255, 255, 0.418);
    }

    h1 {
        font-size: 36px;
        color: rgb(43, 42, 42);
    }

    h2 {
        padding-left: 0;
        font-size: 28px;
        color: rgb(43, 42, 42);
    }
    h3 {
        color: rgb(43, 42, 42);
    }

    .desktop {
        display: flex;

    }

    .container-desktop {
        display: flex;
        justify-content: space-between;
    }

    .container-div {
        display: none;
    }

    .navbar {
        grid-area: nav;
    }
    
    .logo{
        grid-area: logo;
    }

    .github-logo-div {
        grid-area: github;
    }

    .left-panel {
        grid-area: left-panel;
        display: grid;
        grid-template-columns: auto;

        grid-template-rows: 200px 2fr 10px 1fr;
        grid-template-areas:
        "logo"
        "nav"
        "."
        "github";
    }

    span {
        color: #10b5c9;
    }

    #home-desk {
        background-color: #dffff8;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
        width: 1px;
        padding-left: 120px;
    }
    
    #home-svg {
        margin-left: -40px;
    }

    #icons-home {
        margin-left: -80px;
    }
    
    .icons-desk {
        display: flex;
        padding: 15px;
    }

    .icons-desk img{
        width: 30px;
    }

    .icons-desk p{
        font-size: 12px;
        font-weight: 600;
        padding-left: 30px;
    }

    .github-logo-div img {
        width: 60px;
        padding: 20px;
        padding-bottom: 20px;
    }

    .search-bar {
        display: flex;
        max-width: 500px;
        padding-top: 10px;
        height: 50px;
        border-radius: 30px;
        background-color: #e4fff9;
        grid-area: search;
    }
    .search-bar p {
        color: rgb(138, 138, 138);
        margin-top: 12px;
    }

    .search-bar img {
        height: 25px;
        padding-left: 20px;
        padding-top: 7px;
        padding-right: 20px;
    }

    .projects-desk {
        grid-area: projects;
        padding-top: 20px;
    }

    .event-dates {
        grid-area: dates;
        display: flex;
        flex-direction: column;
    }

    .events-desk {
        grid-area: events;
        display: flex;
        justify-content: space-between;
    }


    .middle-content {
        grid-area: middle-content;
        padding-top: 40px;
        display: grid;
        grid-template-columns: auto;

        grid-template-rows: 50px 550px 180px 120px;
        grid-template-areas:
        "search"
        "projects"
        "dates"
        "events";
    
    }

    .project-heading-div {
        display: flex;
        flex-direction: column;
    }

    .categorize {
        display: flex;
    }

    .categorize p {
        padding-right: 20px;
        font-size: 16px;
    }

    .projects-div-desk {
        display: flex;
        justify-content: space-between;

    }

    .project-svgs-desk {
        display: flex;
        justify-content: space-around;
    }

    .form-project-heading, .calculator-heading, .Etch-A-Sketch-heading {
        padding-top: 20px;
    }

    .calculator-div {
        padding-right: 20px;
        padding-left: 20px;
    }

    #form-desk, #calculator-desk, #etch-a-sketch-desk {
        max-height: 25vh;
        border-radius: 20px;
        box-shadow: 1px 30px 35px #0266774d;
    }

    .heading-dates {
        display: flex;
        justify-content: space-between;
    }

    .heading-dates button {
        border: 1px solid rgba(0, 0, 0, 0.589);
        font-family: 'Montserrat', sans-serif;
        background-color: #d9f5ff;
        padding: 10px;
        padding-left: 25px;
        padding-right: 25px;
        border-radius: 50px;
        height: 50px;
    }

    .dates-div {
        display: flex;
        margin-top: 25px;
        justify-content: space-between;
    }

    .dates-div .date {
        font-size: 22px;
        font-weight: 700;
    }


    #days-orange {
        display: flex;
        align-items: center;
        flex-direction: column;
        background-color: #ff8a75;
        color: #ffffff;
        border-radius: 50px;
        margin-left: -25px;
        margin-right: -25px;
        width: 60px;
    }

    #day-fr {
        color: #ffffff;
        font-weight: 500;
    }

    #dot-above-orange, #dot-above {
        font-size: 30px;
        font-weight: 900;
        margin-top: -20px;
        color: #008bcc;
    }
    .day, #day-mon {
        font-weight: 500;
        color: #2c2c2c;

    }


    #date-14, #date-11 {
        display: flex;
        font-size: 22px;
        font-weight: 700;
        
    }

    #date-14 p, #date-11 p  {
        margin-top: 2px;
    }

    .past-event-desk, .awards-desk {
        display: flex;
        background-color: #f0fbffab;
        padding: 15px;
        border-radius: 20px;
        max-width: 400px;
    }

 

    .events-desk p {
        font-size: 12px;
        color: #616161;
    }
    .events-desk h3 {
        color: #2c2c2c;
        margin-top: 5px;
        margin-bottom: 15px;
        font-size: 20px;
    }
    
    .awards-bonus {
        padding-left: 20px;
    }

    .past-events {
        padding-left: 20px;
    }
    

    .events-desk  img{
        width: 80px;
    }

    .awards-desk img {
        width: 50px;
    }
 
    .lang-id {
        display: flex;
        grid-area: id;
        justify-content: end;
    }

    .lang-id div {
        padding-left: 40px;
    }

    .lang {
        display: flex;
        align-self: center;
    }

    .lang img {
        width: 25px;
    }

    .bell {
        display: flex;
        align-self: center;
    }
    
    .bell img{
        width: 30px;
    }

    .announcements-div {
        display: flex;
        flex-direction: column;
        grid-area: announce;
   
    }

    .announcements-div p {
        font-size: 14px;
        font-weight: 500;
        color: #555555;
    }


    .announcements {
        border-radius: 30px;
        background-color: #d9f5ff;
        padding: 20px;
        margin-bottom: 50px;
        margin-top: 30px;
        box-shadow: 5px 50px 35px #00303857;
    }

    .horizontal-line {
        height: 1px;
        border-bottom: 1px solid rgb(151, 151, 151);
        width: 90%;
        margin: auto;
    }

    .stats-desk-div {
        display: flex;
        flex-direction: column;
        grid-area: stats;
    }

    .stats-svg-desk {
        border-radius: 30px;
        background-color: #d9f5ff;
        padding: 20px;
        margin-bottom: 50px;
        margin-top: 30px;
        box-shadow: 5px 50px 35px #00303857;
    }

    .right-panel {
        grid-area: right-panel;
        display: grid;
        grid-template-columns: auto;
        padding-top: 10px;
        grid-template-rows: 100px 1fr 1fr;
        grid-template-areas: 
          "id"
          "announce"
          "stats";
    }

    .container-desktop {
        display: grid;
        grid-template-columns: 150px 4fr 1fr;
        column-gap: 5vw;
        grid-template-rows: auto;
        grid-template-areas: 
          "left-panel middle-content right-panel"
          "left-panel middle-content right-panel"
          "left-panel middle-content right-panel";
    }

    .id-logo img {
        width: 80px;
        border-radius: 50px;
    }

    .stats-svg-desk img {
        width: 300px;
    }
}

/* @media (max-width:1500px) {
    .Etch-A-Sketch-div {
        display: none;
    }
} */ 

@media (max-width:1500px) {
    .projects-div-desk {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    .form-project-div {
        padding-bottom: 20px;
    } 
}