/* Admin Dashboard */

html {
    font-family: 'Montserrat', sans-serif;
    height: 100%;
    background-color: #52a7c1;
    background-image: linear-gradient(315deg, #52a7c1 0%, #b3f6d8 74%);
    
    
}

body {
    background-color: rgba(255, 255, 255, 0.438);
    border-radius: 20px;
}

.container-div {
    height: 98vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between
}


.projects-div {
    display: flex;
    flex-direction: column;
}

.project-1, .project-2, .project-3 {
    margin-top: 10px;
    padding: 10px;
    border-radius: 50px;
    width: 80vw;
    align-self: center;
    display: flex;
    justify-content: space-between;
}

.project-1 {
    background-color: rgba(255, 255, 255, 0.322);
}

.project-2, .project-3 {
    background-color: rgb(255, 255, 255);
}

.svg-title {
    display: flex;
    justify-content: space-around;
}

.svg-title p {
    color: rgb(65, 65, 65);
}

.svg-title p, .count p {
    font-size: 14px;
    font-weight: 600;
    padding-right: 20px;
}

.svg-mob img{
    height: 24px;
    padding: 12px;
}


.border-under {
    height: 1px;
    border-bottom: 20px solid rgba(255, 255, 255, 0.459);
    width: 75vw;
    border-radius: 50px;
    margin-top: -12px;
    align-self: center;
}

.collapse-button{
    display: flex;
    align-self: center;
    margin-top: 30px;
    margin-bottom: 10px;
    height: 10px;
    width: 50px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.459);
}



h1, h2 {
    color: rgb(43, 42, 42);
    padding: 20px;
}

h2 {
    padding-bottom: 0px;
    margin-bottom: 0px;
    padding-top: 0px;
}

h1 {
    padding-bottom: 0px;
}



.other-menus-div {
    display: flex;
    
    margin-top: -40px;
}

.other-menus p {
    font-weight: 600;
    font-size: 15px;
    color: rgba(0, 0, 0, 0.493);
    padding-left: 20px;
}


.stats-div {
    
    background-color: rgb(255, 255, 255);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    height: 60vh;
    margin-bottom: -15px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.stats {
    display: flex;
    justify-content: center;
}

.stats img {
   height: 45vw;
   padding-bottom: 60px;
}


.icons-div {
    display: flex;
    justify-content: space-around;
    height: 90px;
    background-color: rgb(241, 245, 255);
    border-radius: 20px;
}
.icons-div div {
    align-self: center;
}

.icons-div div img {
    align-self: center;
    width: 30px;
}

.desktop {
    display: none;;
}

@media (max-width:380px) {
    .stats img {
        height: 50vw;
        width: 85vw;
        padding-bottom: 0px;
    }

    .stats {
        margin-top: -40px;
    }

    h1, h2{
        margin-top: 0px;
        margin-bottom: 10px;
    }
}

@media (min-width:500px) 
{

    body {
        margin: 50px;
        padding: 20px;
        background-color: #ebf8fc9a;
        border-radius: 40px;
    }

    .desktop {
        display: flex;
    }

    .container-div {
        display: none;
    }

    .navbar {
        grid-area: nav;
    }
    
    .logo{
        grid-area: logo;
    }

    .github-logo-div {
        grid-area: github;
    }

    .left-panel {
        grid-area: left-panel;
        display: grid;
        grid-template-columns: auto;

        grid-template-rows: 1fr 3fr 1fr 1fr;
        grid-template-areas:
        "logo"
        "nav"
        "."
        "github";
    }

    span {
        color: #52a7c1;
    }

    #home-desk {
        background-color: #dffff8;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
        width: 1px;
        padding-left: 90px;
    }
    
    #home-svg {
        margin-left: -40px;
    }

    #icons-home {
        margin-left: -50px;
    }
    
    .icons-desk {
        display: flex;
        padding: 15px;
    }

    .icons-desk img{
        width: 30px;
    }

    .icons-desk p{
        font-size: 12px;
        font-weight: 600;
        padding-left: 30px;
    }

    .github-logo-div img {
        width: 60px;
        padding: 20px;
    }

    .middle-content {
        grid-area: middle-content;
        display: flex;
    }

    .right-panel {
        grid-area: right-panel;
        display: flex;
    }

    .container-desktop {
        display: grid;
        grid-template-columns: 1fr 3fr 2fr;

        grid-template-rows: auto;
        grid-template-areas: 
          "left-panel middle-content right-panel"
          "left-panel middle-content right-panel"
          "left-panel middle-content right-panel";
    }
}